*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background: #e2e9f7;
    position: fixed;
}

h1{
    text-align: center;
}

.side-nav{
    width: 250px;
    height: 100%;
    background: #1232b3;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}
.logo{
    display: block;
    margin-bottom: 70px;
    padding: 0 30px;
}

.logo-img{
    width: 130px;
}

.nav-links{
    list-style: none;
    position: relative;
}

.nav-links li{
   /* width: 120px;
    margin: 15px;*/
    padding: 8px 0;
}

.nav-links li a{
    text-decoration: none;
    color: wheat;
    padding: 10px 14px;
    /*to align those icons on the same line as the text*/
    display: flex;
    align-items: center;
}

/*.fa-solid{
    margin-right: 8px;
}*/

.nav-links li a i{
    font-size: 22px;
    margin-right: 20px;
}

.nav-links li:hover a{
    color: #1232b3;
    transition: 0.3s ease-out;
}

.active{
    background: white;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 1.5%;
    z-index: -1;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(255, 255,255, 0.4);
    display: none;
    transition:top 0.5s;
}

.nav-links li:hover ~ .active{
    display: block;
}
/*this means when navigating on the list item, the white box moves in accordance with the cursor. then only the top position changes. let total TOP position be 100% , divided by the total number of list item. (100/6=16.6). at each nth child, 16.6 added to each top position  */
.nav-links li:nth-child(1):hover ~ .active{
    top: 1.5%;
}

.nav-links li:nth-child(2):hover ~ .active{
    top:18.1% ;
}

.nav-links li:nth-child(3):hover ~ .active{
    top: 34.7%;
}

.nav-links li:nth-child(4):hover ~ .active{
    top: 51.3%;
}

.nav-links li:nth-child(5):hover ~ .active{
    top: 67.9%;
}

.nav-links li:nth-child(6):hover ~ .active{
    top: 84.5%;
}

@media only screen and (max-width: 600px){
    .side-nav[
        width: 110px;
    ]
}